{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link class="link1" rel="icon" href="{% static 'img/N-icon.png' %}"type=" image/x-icon">
  <title>NontonKuy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

  <script src="main.js"></script>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="NontonKuyLogo">
        <a id="logo" href="#home"><img src="{% static 'img/logokuy2.png' %}" alt="Logo Image"></a>
      </div>
      <nav class="main-nav">                
        <a href="#home">Home</a>
        <a href="#tvShows">TV Shows</a>
        <a href="#movies">Movies</a>
        <a href="#originals">Originals</a>     
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">Account</a>        
      </nav>      
    </header>
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home"> Popular on NontonKuy </h1>
          <div class="box">
            <a href=""><img src="{% static 'img/01.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/02.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/03.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/04.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/05.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/06.jpg' %}" alt=""></a>
    
            <a href=""><img src="{% static 'img/07.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/08.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/09.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/010.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/011.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/012.jpg' %}" alt=""></a>
            
            <a href=""><img src="{% static 'img/New01.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/New02.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/New03.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/New04.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/New05.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/New06.jpg' %}" alt=""></a>
          </div>
      </div>
      

      
      <h1 id="myList">Trending Now</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/013.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/014.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/015.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/016.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/017.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/018.jpg' %}" alt=""></a>  
        <a href=""><img src="{% static 'img/New07.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New08.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New09.jpg' %}" alt=""></a>                  
      </div>
      
      <h1 id="tvShows">TV Shows</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/019.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/020.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/021.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/022.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/023.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/024.jpg' %}" alt=""></a>

        <a href=""><img src="{% static 'img/025.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/026.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/027.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/028.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/029.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/030.jpg' %}" alt=""></a>
        
        <a href=""><img src="{% static 'img/New10.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New11.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New12.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New13.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New14.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New15.jpg' %}" alt=""></a>
      </div>
      
      
      <h1 id="movies">Action & Adventure</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/031.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/032.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/033.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/034.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/035.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/036.jpg' %}" alt=""></a> 
        <a href=""><img src="{% static 'img/New16.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New17.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New18.jpg' %}" alt=""></a>                
      </div>

      <h1 id="originals">NontonKuy Originals</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/037.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/038.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/039.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/040.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/041.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/042.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New19.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New20.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/New21.jpg' %}" alt=""></a>                 
      </div>
     
    <!-- END OF MAIN CONTAINER -->

    
    <!-- LINKS -->
    <br>
    <br>
    <section class="link">
      <div class="logos">
        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
        <a href="http://www.instagram.com/i_yemrony"><i class="fab fa-instagram fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
        <a href="https://youtube.com/@ach.athoillahfathoroniarif9340?si=s6LYUDe9ihf0r3Ym"><i class="fab fa-youtube fa-2x logo"></i></a>
      </div>
      <div class="sub-links">
        <ul>
          <li><a href="#">Audio and Subtitles</a></li>
          <li><a href="#">Audio Description</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <!-- END OF LINKS -->

    <!-- FOOTER -->
    <footer>
      <p>&copy 2023 NontonKuy, Inc.</p>
      <p>Fathoroni &copy 2023</p>
    </footer>
  </div>
</body>
</html>