{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>NontonKuy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

  <script src="main.js"></script>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="NontonKuyLogo">
        <a id="logo" href="#home"><img src="{% static 'img/logokuy2.png' %}" alt="Logo Image"></a>
      </div>
      <nav class="main-nav">                
        <a href="#home">Home</a>
        <a href="#tvShows">TV Shows</a>
        <a href="#movies">Movies</a>
        <a href="#originals">Originals</a>     
      </nav>
      <nav class="sub-nav">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">Account</a>        
      </nav>      
    </header>
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home">Popular on NontonKuy</h1>
          <div class="box">
            <a href=""><img src="{% static 'img/1.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/2.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/3.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/4.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/5.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/6.jpg' %}" alt=""></a>
    
            <a href=""><img src="{% static 'img/7.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/8.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/9.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/10.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/11.jpg' %}" alt=""></a>
            <a href=""><img src="{% static 'img/12.jpg' %}" alt=""></a>        
          </div>
      </div>
      

      
      <h1> </h1>
      <h1> </h1>
      <h1 id="myList">Trending Now</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/13.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/14.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/15.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/16.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/17.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/18.jpg' %}" alt=""></a>                  
      </div>
      
      <h1 id="tvShows">TV Shows</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/19.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/20.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/21.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/22.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/23.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/24.jpg' %}" alt=""></a>

        <a href=""><img src="{% static 'img/25.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/26.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/27.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/28.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/29.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/30.jpg' %}" alt=""></a>              
      </div>
      
      
      <h1> </h1>
      <h1> </h1>
      <h1 id="movies">Blockbuster Action & Adventure</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/31.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/32.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/33.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/34.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/35.jpg' %}"alt=""></a>
        <a href=""><img src="{% static 'img/36.jpg' %}" alt=""></a>                
      </div>

      <h1 id="originals">NontonKuy Originals</h1>
      <div class="box">
        <a href=""><img src="{% static 'img/370.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/380.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/390.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/400.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/410.jpg' %}" alt=""></a>
        <a href=""><img src="{% static 'img/420.jpg' %}" alt=""></a>                
      </div>
     
    <!-- END OF MAIN CONTAINER -->

    
    <!-- LINKS -->
    <br>
    <br>
    <section class="link">
      <div class="logos">
        <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
        <a href="http://www.instagram.com/i_yemrony"><i class="fab fa-instagram fa-2x logo"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
        <a href="https://youtube.com/@ach.athoillahfathoroniarif9340?si=s6LYUDe9ihf0r3Ym"><i class="fab fa-youtube fa-2x logo"></i></a>
      </div>
      <div class="sub-links">
        <ul>
          <li><a href="#">Audio and Subtitles</a></li>
          <li><a href="#">Audio Description</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <!-- END OF LINKS -->

    <!-- FOOTER -->
    <footer>
      <p>&copy 2023 NontonKuy, Inc.</p>
      <p>Fathoroni &copy 2023</p>
    </footer>
  </div>
</body>
</html>